
html, body {
    margin: 0;
    background-color: green;
    color:white;
}




.titulo {
    text-align: center;
    background-color: black;
    color: white    ;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;

}

#compu-cartas, #jugador-cartas {
    height: 240px;
}